@charset "UTF-8";

body {
    font-family: poppins;
    margin: 0px;
    background-color: rgb(145, 255, 204);
}

header {
    color: white;
    background-image: linear-gradient(to bottom, rgb(78, 235, 161), rgb(19, 117, 71));
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.445);
}

#content {
    text-align: center;
}

#content > h1 {
    font-size: 3em;
    margin: 0px;
    padding-top: 25px;
}

nav > a {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 0px 15px 5px;
    margin: 10px;
    text-decoration: none;
}

main {
    background-color: white;
    text-align: justify;
    margin: auto;
    width: 865px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    border-radius: 0px 0px 15px 15px;
}

section {
    padding: 20px;
}

#video {
    background-color: rgb(19, 117, 71);
    text-align: center;
    padding: 30px;
}

#video > iframe {
    width: 100%;
}

img {
    width: 100%;
}

footer {
    background-color: rgb(19, 117, 71);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

section > .curiosidades {
    background-color: rgb(145, 255, 204);
    border-radius: 10px;
}

section > .titulo {
    background-color: rgb(19, 117, 71);
    padding: 15px;
    color: white;
}

footer > p {
    margin: 0px;
}