@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BF8756, #A66F6A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3136406c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #313640;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #BFBFBD;
}

p {
    text-align: justify;
}